:root {
    font-family: 'Montserrat', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#root,
.app,
.content {
  height: 100%;
  width: 100%;
  /* font-family: "Source Sans Pro", sans-serif; */

}

.content {
  position: absolute;
  transition: 0.3s;
}

.app {
  display: flex;
  position: relative;
}